<span style="align:center">
<iframe src="https://tabemea.roche.com/views/NAVIFYscandashboard/NAVIFYplatformenvironments?:isGuestRedirectFromVizportal=y&#x26;:embed=y" style="height:800px;width:1200px; border:none;"></iframe>
</span>