* {
	box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */

.float-column {
	float: left;
	width: 50%;
	padding: 10px;  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}

.panel-media {
	position: relative;
	min-height: 80px;
	padding: 43px 33px 43px 33px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 4px 10px 0 rgba(35, 46, 105, 0.1);
}

.panel-media__wrap-icon {
	position: absolute;
	width: 112px;
	height: auto;  /* padding-top: 10px; */
}

.panel-media__icon {
	text-align: center;
}

.panel-media__icon img {
	width: 80px;
	display: inline-block;
	height: auto;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.panel-media__wrap-content {
	min-height: 80px;
	padding-top: 3px;
	padding-left: 140px;
}

.container.home-tiles {
	max-width: 1250px !important;
}

/*.container {
	--height: 100%;
}*/

.row--pad {
	margin-left: 0;
	margin-right: 0;
}

.column-lg-6 {
	width: 50%;
}

.column--pad {
	padding-left: 15px;
	padding-right: 15px;
}

P {
	font-weight: 400;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

table {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #dddddd;
	text-align: left;
	padding: 15px;
}

td.firstcol {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #c9cfd8;
	font-weight: 800;
	width: 25%;
}

td.seccol {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	font-weight: 400;
	width: 75%;
}

th {
	text-align: left;
}

div.releasenotes {
	width: 80%;
	padding: 25px;
	margin: 0 auto;
}

.button.ui.fluid.button.AccountForm-cta {
	background-color: #003c5c;
  color: white;
}

.HubSidebar-inner {
   background-color: white;
}
.border-grey-light {
   border-color: #ffffff;
}
.bg-grey-lightest {
   background-color: #ffffff;
}
.info_notes {
  padding-left: 5px;
  padding-right: 5px;
  color:#0066cc;
  
}


.Treelist-folderName {
	font-weight: normal !important;
}