<style>
  #welcome_container {
    margin:auto;
    max-width:1360px;
  }
  #welcome_container_image {
    text-align:right;
  }
  #welcome_image_logo {
  	margin-top:40px;
    width:275px;
    margin-right:15px;
    box-shadow:none;
  }
  #welcome_image_pathway {
    width:100%;
    max-width:1360px;
    flex-grow:1;
    flex-shrink:1;
    flex-basis:0%;
    box-shadow:none;
    height:80px;
  }
  #welcome_flex_container {
    margin-top:40px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
  }
  #welcome_flex_container_left {
    order:1;
    width:45%;
    min-width:200px;
    flex-grow:1;
    padding-left:40px;
    padding-right:40px;
  }
  #welcome_flex_container_right {
    order:2;
    width:45%;
    min-width:200px;
    flex-grow:1;
  }
  #welcome_container_box {
    border:1px solid #ccc;
    padding:10px;
    margin:0px 40px 30px 30px;
    min-height:90px;
  }
  #welcome_container_box img {
    float:left;
    box-shadow:none;
  }
  .welcome_bold {
    font-weight:700!important;
  }
  .welcome_blue {
    color:#0066cc;
  }
  .welcome_nomargin {
    margin:0px!important;
  }
  .welcome_bigger {
    font-size:2em;
  }
</style>

<div id="welcome_container">
	<div id="welcome_container_image">
		<img id="welcome_image_logo" src=https://s3.amazonaws.com/user-content.stoplight.io/19596/1569416870306 alt="NAVIFY Platform Docs Logo" />
	</div>
  <div>
    <img id="welcome_image_pathway" src="https://s3.amazonaws.com/user-content.stoplight.io/19596/1569417125219" alt="NAVIFY Pathway" />
  </div>
  <div id="welcome_flex_container">
    <div id="welcome_flex_container_left">
      <p class="welcome_blue welcome_bold welcome_bigger">Support for developers</p>
      <p>Get familiar with the NAVIFY Platform services and explore all its offerings.</p>
      <p class="welcome_bold">We are here to help!</p>
      <p>We are happy to support you in case you have questions. <a href="https://docs.platform.navify.com/guides/getting-started/being-on-the-platform">Browse our documentation</a>, talk to your genius, <a href="https://overflow.roche.com/c/NP/74">ask the community</a> or <a href="https://navifyplatform.roche.com/how-can-we-help/">contact our support teams</a></p>
      <p class="welcome_bold">You’re voice matters to us!</p>
      <p>We highly welcome feedback and appreciate any help to provide you a better developer experience. <a href="https://overflow.roche.com/c/NP/74">Join our community</a> to share your thoughts, ask your question and provide feedback.</p>
    </div>
    <div id="welcome_flex_container_right">
      <div id="welcome_container_box">
        <a href="https://docs.platform.navify.com/guides/getting-started/being-on-the-platform"><img src="https://s3.amazonaws.com/user-content.stoplight.io/19596/1569491067956" /></a>
        <p class="welcome_bold welcome_nomargin"><a href="https://docs.platform.navify.com/guides/getting-started/being-on-the-platform">Docs</a></p>
        <p>Get started and learn how to leverage the platform services such a Secure infrastructure offerings and Access Control micro-services.</p>
      </div>
      <div id="welcome_container_box">
        <a href="https://docs.platform.navify.com/api-references"><img src="https://s3.amazonaws.com/user-content.stoplight.io/19596/1569491352264" /></a>
        <p class="welcome_bold welcome_nomargin"><a href="https://docs.platform.navify.com/api-references">API endpoints</a></p>
        <p>Explore, discover, try and learn the available microservice endpoints.</p>
      </div>
      <div id="welcome_container_box">
        <a href="https://info.platform.navify.com/blog" target="_blank"><img src="https://s3.amazonaws.com/user-content.stoplight.io/19596/1569491815718" /></a>
        <p class="welcome_bold welcome_nomargin"><a href="https://info.platform.navify.com/blog" target="_blank">Blog</a></p>
        <p>Read fresh articles written by platform experts and community members.</p>
      </div>
      <div id="welcome_container_box">
        <a href="https://docs.platform.navify.com/guides/developer-tools/dt-introduction"><img src="https://s3.amazonaws.com/user-content.stoplight.io/19596/1569491352264" /></a>
        <p class="welcome_bold welcome_nomargin"><a href="https://docs.platform.navify.com/guides/developer-tools/dt-introduction">Developer Tools</a></p>
        <p>Discover useful self-service developer tools to ease your work</p>
      </div>
      <div id="welcome_container_box">
        <a href="https://overflow.roche.com/c/NP/74" target="_blank"><img src="https://s3.amazonaws.com/user-content.stoplight.io/19596/1569491896601" /></a>
        <p class="welcome_bold welcome_nomargin"><a href="https://overflow.roche.com/c/NP/74" target="_blank">Community</a></p>
        <p>Share and learn from each other and from platform experts.</p>
      </div>
    </div>
  </div>
</div>